<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'eronall/CSS/bootstrap.css' %}" />

    <title>Form</title>
  </head>

  <body>
    <div class="container mt-5">
      <h2 class="text-center alert alert-danger">
        Class Base View CRUD Opration
      </h2>
      {% block content %} {% endblock content %}
    </div>

    <script src="{% static 'eronall/JS/bootstrap.js' %}"></script>
    <script src="{% static 'eronall/JS/jquery.js' %}"></script>
    <script src="{% static 'eronall/JS/propper.js' %}"></script>
  </body>
</html>
